--index-url https://pypi.python.org/simple/

- r requirements.txt

pip==9.0.1
bumpversion==0.5.3
wheel==0.29.0
watchdog==0.8.3
flake8==3.4.1
coverage==4.4.1
Sphinx==1.6.3
pytest==3.2.1
pytest-runner==2.11.1
pytest-cov==2.5.1
pytest-watch==4.1.0
pytest-mock==1.6.2
